<div class="site-footer">
  <!--CONTACT US-->
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Contact Us</h3>
        <fa-icon [icon]="faHeadSet" size="4x" [styles]="{'color': '#B3936D', 'padding': '5px'}"></fa-icon>
        <span>+ (012) 800 456 789</span>
        <p>Address:123 Main Street, Anytown, CA 12345 - USA.</p>
        <p>Email:demo@towerthemes.com</p>
        <a href="#">
          <fa-icon [icon]="faFacebook" size="2x" class="icon"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faTwitter" size="2x" class="icon"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faGoogle" size="2x" class="icon"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faRss" size="2x" class="icon"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faPinterest" size="2x" class="icon"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faYoutube" size="2x" class="icon"></fa-icon>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12 offset-1 py-4">
                <h3>Information</h3>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12 py-4">
                <h3>My Account</h3>
                <ul>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Other History</a></li>
                  <li><a href="#">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CONTACT US-->
  <!--INFORMATION ACCOUNT-->
  <div class="line">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <fa-icon [icon]="faGlobeAmericas" size="2x" class="icon"></fa-icon>
          <h3>Free Shipping</h3>
          <p>Free shipping on all order</p>
        </div>
        <div class="col-lg-3 col-sm-6">
          <fa-icon [icon]="faCheckCircle" size="2x" class="icon"></fa-icon>
          <h3>Money Return</h3>
          <p>Back guarantee under 7 days</p>
        </div>
        <div class="col-lg-3 col-sm-6">
          <fa-icon [icon]="faBell" size="2x" class="icon"></fa-icon>
          <h3>Member Discount</h3>
          <p>Onevery order over $120.00</p>
        </div>
        <div class="col-lg-3 col-sm-6">
          <fa-icon [icon]="faClock" size="2x" class="icon"></fa-icon>
          <h3>Online Support</h3>
          <p>Support online 24 hours a day</p>
        </div>
      </div>
    </div>
  </div>
  <!--INFORMATION ACCOUNT-->
  <!--COPYRIGHT-->
  <div class="line">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <p>Copyright &copy; 2018 <a href="#">Belly</a>. All Right Reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6">
          <a href="#"><img src="/assets/image/icons/paypal.jpg" alt=""></a>
          <a href="#"><img src="/assets/image/icons/paypal1.jpg" alt=""></a>
          <a href="#"><img src="/assets/image/icons/discover.jpg" alt=""></a>
          <a href="#"><img src="/assets/image/icons/mastercard.jpg" alt=""></a>
          <a href="#"><img src="/assets/image/icons/mastercard-2.jpg" alt=""></a>
          <a href="#"><img src="/assets/image/icons/amarican-express.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <!--COPYRIGHT-->
</div>